.container{
    min-width: 70rem;
    margin-left: 32%;
}

app-login{
    width: 100%;
}

.form-group{
    margin-left: 28%;
}

.btn-login{
    margin-left: 45%;
    padding: 0.5rem 2rem;
}

.form-control{
    width: 60%;
}

