<div class="row col-lg-12">
    pagedList{{pagedList}}

    <div *ngfor="let item of pagedList">
        <label class="col-sm-4">
            Email Address:
        </label>
        <div class="col-sm-8">{{item.email}}</div>
        <label class="col-sm-4">
            First Name:
        </label>
        <div class="col-sm-8">{{item.first_name}}</div>
        <label class="col-sm-4">
            Last Name:
        </label>
        <div class="col-sm-8">{{item.last_name}}</div>
    </div>
</div>
<div class="row col-lg-12">
    <div class="col-lg-6">
        <div class="card m-3">
            <img class="card-img-top" src="../../../assets/3-Dib-restaurant-losses-edited.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">Dinner in the Sky</h5>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus officiis reprehenderit fugit possimus. Doloremque, itaque error? Obcaecati eaque omnis ex modi nulla perferendis sit, laboriosam voluptatibus, laborum est voluptate soluta.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card m-3">
            <img class="card-img-top" src="../../../assets/pexels-photo-262978.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">The Disaster Café</h5>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus officiis reprehenderit fugit possimus. Doloremque, itaque error? Obcaecati eaque omnis ex modi nulla perferendis sit, laboriosam voluptatibus, laborum est voluptate soluta.</p>
            </div>
        </div>
    </div>
</div>

